/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    padding-top: 20px;
    width: 100%;
    /* height: 100vh; */
    
    
    
}

.header {
    display: flex;
    justify-content: space-between; 
    padding: 20px 80px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar > li {
    list-style: none;
    padding: 0 20px;
}

.navbar > li > a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
    color:navy; 
     
}

.navbar > li > a:hover, 
.navbar > li > a.active{
    color: green;
}

h1 {
    color: #06c167;
}

.main-cont {
     display: flex;
    flex-direction: column; 
     /* height: 100vh;  */
    padding: 20px 80px;
    position: relative;   
}



.main-div {
    display: flex;
    flex-direction: column;
    /* height: 70vh;  */
    padding-left: 10px;   
}
.main_section{
    display: flex;
    justify-content: space-between;
    background-color: #f3fcf7;
    height: 600px;
}

h2 {
    font-weight: 600;
    font-size: 75px;
       
}

p {
    font-size: 16px;
 
    
}

.my-image {
     display: flex;
    justify-content: flex-end;
    left: 750px;
    height: 634px;
       /* position: absolute; */
      /* bottom: -25px;     */
}

.Quality-Product {
    position: absolute;
    top: 230px;
    right: 90px;
}

.Ratings {
    position: absolute;
    right: 460px;
    top: 300px;
    
}

.first-button {
     background-image: url(./images/Rectangle\ 1.png);
    width: 15%;
    color: #f3fcf7; 
  display: flex; 
  align-items: center;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
    
}

.first-button img{
margin-left: 5px;
}

.logo-section {
    
     display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    margin-top: 10px;
    width: 58%;
    
    
    
}

.logo-section div{
    display: flex;
    align-items: center;
    
}

.logo-section div img{
    margin-right: 7px;
}

.logo-section span {
    color: #394149;
    letter-spacing: 2px;
}

.profile-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 60%;
    border: 1px solid gray;
    align-content: center;
    margin-top: 170px;
    padding: 20px 10px;
       
}

.image-div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-content: space-between;
}


.image-section {
    display: flex; 
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 25%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 10px;
    
}

.green-image {
  position: relative; 
  
}

.image-cont {
    height: 513px;
    width: 445px;
    /* background-color: #f3fcf7; */
     /* top: 1229px; */
    /* left: 183px;  */
    box-shadow: 5px 5px 15px #06c167;   
}

.green-div {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 40px;
    padding-top: 90px;
    
}

.green-div >h3 {
    font-size: 60px;
    font-weight: 600;
    
    
}

.our-benefit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
} 

 .veggie-section {
    display: flex;
    flex-direction: column;
    padding-top: 30px
    
    
    /* position: relative; */


}

 section .food-div h3 {
    font-size: 60px;
    
    
}


.product {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    color: #06c167; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    text-align: center;
    align-items: center;
    


}

 .product  p {
    color: #06c167;
    font-size: 30px;
    width: 108px;
    height: 48px;
}

.second-button {
    margin-top: 40px;
    background-image:url("./images/Rectangle\ 1.png") ;
    width: 15%;
    height: 40px;
    margin-top: 15px;
    padding: 10px;
    color: #f3fcf7;
}


.D-image  {
    display: flex;
    justify-content: flex-end;
    height: 513px;
    /* left: 860px; */


}

.food-div {
    margin-bottom: 20px;
    margin-top: 40px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.last-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width:1170px ;
    background-size: cover;
     background-image: url("./images/Rectangle\ 2.png"); 

}

.last-div  p{
    background-image: url("./images/Rectangle\ 1.png");

}

 .random-image-sec {
      display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
     height: 766px; 
    padding-top: 20px; 
    width: 100%;  

    
    
    

}

.random  div{
      
    border: 1px solid gray;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px; 
    display: grid;  

}

.div-1 {
    border: 1px solid black;
    height: 292.5px;
    width: 292.5px;
}

.div-2 {
    border: 1px solid black;
    height: 292.5px;
    width: 292.5px;
}

.div-3 {
    border: 1px solid black;
    height: 292.5px;
    width: 292.5px;
}

.div-4 {
    border: 1px solid black;
    height: 292.5px;
    width: 292.5px;
}

.div-5 {
    border: 1px solid black;
    height: 292.5px;
    width: 292.5px;
}

.div-6 {
    border: 1px solid black;
    height: 292.5px;
    width: 292.5px;
}

.div-7{
    border: 1px solid black;
    height: 292.5px;
    width: 292.5px;
}

.fruit-cont {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
   
}

.fruit {
    border: 1px solid #06c167;
    width: 250px;
    height: 350px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.p-1 {
    padding-top: 10px;

}

.p-2 {
    padding-top: 10px;

}

.num{
    color: lightslategray;
}

.submit {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid #06c167;
    background: #f3fcf7;
    margin-top: 10px;

} 
 
footer {
    /* padding: 20px 60px; */
}

footer > .top-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer > .top-footer > div > p {
    font-size:13px ;
}

footer h4 {
    padding: 17px 0;
    font-weight: 700;
}

footer li {
    list-style: none;
    
}

footer  a {
    font-size: 13px;
    color: black;
    text-decoration: none;
}


    
    



    
    




       
         



    
    
    
    

    
    

    



    
    
    
    
    
    
    
    
    
    
    


    
    
     
    
    
    



     

    
     
     
 
     
    



    


 



    
    
    
    
    




    
    

