/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {

    padding-top: 20px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;

}

header {
    background-color: #f3fcf7;
    padding: 20px 80px;
}

.header {
    display: flex;
    justify-content: space-between;


}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar>li {
    list-style: none;
    padding: 0 20px;
}

.navbar>li>a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
    color: navy;

}

.navbar>li>a:hover,
.navbar>li>a.active {
    color: green;
}

h1 {
    color: #06c167;
}

.main-cont {
    display: flex;
    flex-direction: column;
    /* height: 100vh;  */
    padding: 20px 80px;
    position: relative;
}



.main-div {
    display: flex;
    flex-direction: column;
    /* height: 70vh;  */

}

.main_section {
    display: flex;
    justify-content: space-between;
    background-color: #f3fcf7;
    height: 447px;
    margin-top: 100px;
}

.header-text {
    font-weight: 600;
    font-size: 75px;
    line-height: 90.77px;
    margin-bottom: 11px;

}

.header-sub {
    line-height: 22.78px;
    font-size: 16px;
    font-weight: 400;

}

p {
    font-size: 16px;


}

.my-image {
    display: flex;
    justify-content: flex-end;
    left: 750px;
    height: 579px;
    /* position: relative; */
    /* bottom: -25px;     */
}

.Quality-Product {
    position: absolute;
    top: 357px;
    right: 15px;
}

.Ratings {
    position: absolute;
    right: 413px;
    top: 453px;

}

.first-button {
    background-image: url(./images/Rectangle\ 1.png);
    color: #f3fcf7;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    outline: none;
    border: none;
    width: fit-content;
    height: 50px;
    padding: 20px;
    margin-top: 30px;

}

.first-button img {
    margin-left: 5px;
}

.logo-section {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-top: 10px;
    width: 58%;



}

.logo-section div {
    display: flex;
    align-items: center;

}

.logo-section div img {
    margin-right: 7px;
}

.logo-section span {
    color: #394149;
    letter-spacing: 2px;
}

.profile-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 60%;
    border-top: 1px solid #F3FCF7;
    border-bottom: 1px solid #F3FCF7;
    align-content: center;
    margin-top: 120px;
    padding: 50px 10px;

}

.img-cont {
    width: 70px;
    height: 70px;
    background-color: #F3FCF7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
    border-radius: 10px;

}

.img-cont-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    color: #1D1D1F;
    margin-bottom: 7px;

}

.img-cont-sub {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    color: #1D1D1F;

}

.image-div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-content: space-between;
}


.image-section {

    margin-top: 10px;

}

.img-section-div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.img-section-div span {
    font-size: 14px;
}

.img-section-div img {
    margin-top: 5px;
    margin-right: 10px;
}

.green-image {
    /* position: relative;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 132px;

}

.image-cont {
    height: 608px;
    width: 541px;
    background-color: #f3fcf7;
    display: flex;
    justify-content: center;
}

.image-cont img {
    width: 445px;
    height: 513px;
}


.green-div>h3,
.food-div>h3 {
    font-size: 60px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 67px;
    line-height: 72.61px;
}

.Veggie-section {
    display: flex;
    margin-top: 183px;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

.Veggie-section .D-image {
    height: 608px;
    width: 541px;
    background-color: #f3fcf7;
    display: flex;
    justify-content: flex-end;
}

.D-image img {
    width: 445px;
    height: 513px;
}

section .food-div h3 {
    font-size: 60px;


}


.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.product p {
    color: #06c167;
    font-size: 40px;
    font-weight: 600;
}


.product h6 {
    color: #1D1D1F;
    font-size: 15px;
    font-weight: 400;
}

.second-button {
    margin-top: 40px;
    background-image: url("./images/Rectangle\ 1.png");
    width: 15%;
    height: 40px;
    margin-top: 15px;
    padding: 10px;
    color: #f3fcf7;
}


.random {
    text-align: center;
    margin-top: 197px;
}

.random p {
    margin-bottom: 20px;
}

.random h4 {
    font-size: 60px;
    font-weight: 500;
    line-height: 72.61px;
    margin-bottom: 70px;
}


.random-image-sec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;

}



.div-1 {
    display: flex;
    width: 584px;
}

.div-1 .random-div-text {
    width: 50%;
    background-color: #F3FCF7;
    border: 1.5px solid #06C167;


}

.div-1 .random-div-text div {
    width: 227px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    height: 100%;

}

.div-1 .random-div-text button {
    width: fit-content;
    display: flex;
    align-items: center;
    height: 42px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #E6F9F0;
    padding: 0px 10px;
    color: #06C167;
}

.div-1 .random-div-text button p {
    font-size: 15px;
    font-weight: 500;
    margin-right: 5px;
}

.lead-text {
    font-size: 32px;
    font-weight: 500;
}

.sub-text {
    font-size: 16px;
    font-weight: 400;
}

.div-1 .div-1-img {
    width: 50%;
}



.fruit-cont {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    flex-wrap: wrap;

}

.fruit {
    border: 2px solid #06c167;
    width: 250px;
    height: 445px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}


.p-1 {
    padding-top: 10px;

}

.p-2 {
    padding-top: 10px;

}

.num {
    color: lightslategray;
}

.product-ratings {
    margin-top: 192px;
}

.product-ratings-text p {
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;

}

.product-ratings-text span {
    font-size: 60px;
    font-weight: 500;
    line-height: 72.61px;
}

.submit {
    width: 177px;
    height: 57px;
    color: #06C167;
    border: 2px solid #06c167;
    background: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}



.last-cont {
    margin-top: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1172px;
    color: white;
    background-size: cover;
    background-image: url("./images/Rectangle\ 2.png");

}

.last-cont .last-div div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.last-cont h3 {
    font-size: 60px;
    font-weight: 600;
    line-height: 72.61px;
    text-align: center;

}

.last-div p {
    background-image: url("./images/Rectangle\ 1.png");

}

footer {
    padding: 20px 80px;
}

footer>.top-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

footer>.top-footer>div>p {
    font-size: 13px;
    
}

footer h4 {
    padding: 17px 0;
    font-weight: 700;
}

footer li {
    list-style: none;

}

.top-footer-p{
    margin-top: 41px;
}

footer a {
    font-size: 13px;
    color: black;
    text-decoration: none;
}
.footer-form{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.footer-form input{
    height: 50px;
    background-color: #F0F1EC;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 205px;
    padding: 10px;
}
.footer-form button{
   margin-top: 0px !important;
   margin-left:  7px;
}

footer > .bottom-footer > p {
    text-align: center;
    padding: 30px  0;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.36px;
}

.top-footer .icon {
    margin-top: 10px;
    width: 17.84px;
    height: 17.84px;
    left: 171px;
    
}